.speecheck__actions {
	&.speecheck__section {
		border-bottom: none;
	}

	&.speecheck__section .speecheck__section__content {
		align-items: center;
		display: flex;
		justify-content: right;
		padding: 15px 20px;
	}

	button:not( :last-child ) {
		margin-right: 10px;
	}
}
