.speecheck__response {
	&.speecheck__section .speecheck__section__content {
		align-items: center;
		display: flex;
	}
	
	&__sentence {
		flex-basis: 90%;
		margin-bottom: 0;

		> span.highlighted {
			background-color: #ff0266;
			color: #fff;
			padding: 5px;
		}
	}

	&__score {
		align-items: center;
		border-left: 2px solid #FF9200;
		display: flex;
		flex-basis: 10%;
		justify-content: flex-end;
	}
}
