.speecheck__loader {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 300px;
	width: 100%;
	
	> span {
		animation: rotate 1s linear infinite;
		display: inline-block;
		font-size: 38px;
	}
}
