.speecheck__instructor-materials {
	&.speecheck__section .speecheck__section__content {
		align-items: center;
		display: flex;
	}

	&__sentence {
		flex-basis: 90%;
		font-size: 18px;
		margin-bottom: 0;
		width: 90%;
	}

	&__audio {
		align-items: center;
		display: flex;
		flex-basis: 10%;
		justify-content: flex-end;
		width: 10%;
	}
}
